.f_ExtraLight {
    font-family: 'Poppins-ExtraLight' !important;
}

.f_Light {
    font-family: 'Poppins-Light' !important;
}

.f_Regular {
    font-family: 'Poppins-Regular' !important;
}

.f_Medium {
    font-family: 'Poppins-Medium' !important;
}

.f_SemiBold {
    font-family: 'Poppins-SemiBold' !important;
}

.f_Bold {
    font-family: 'Poppins-Bold' !important;
}

.f_ExtraBold {
    font-family: 'Poppins-ExtraBold' !important;
}