<div class="py-4">

    <div class="uk-flex uk-flex-center">

        <div class="card_ uk-width-1-3@l p-3">

            <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

                <div>
                    <h2 class="f_Light">Login</h2>
                </div>

                <div>
                    <input class="uk-input" type="text" name="email" [(ngModel)]="userData.email">
                </div>

                <div>
                    <input class="uk-input" type="text" name="password" [(ngModel)]="userData.password">
                </div>

                <div>
                    <button class="uk-button uk-button-primary full_w" (click)="login()">Login</button>
                </div>

                <div class="text-center">
                    <a class="blueC_ f_Light" routerLink="/register">Create Account</a>
                </div>

                <div *ngIf="message !== null">
                    <p>{{message}}</p>
                </div>

            </div>

        </div>

    </div>

</div>