/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(assets/font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(assets/font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(assets/font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(assets/font/Poppins/Poppins-ExtraBold.ttf);
}

body {
    font-family: "Poppins-Regular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins-Regular" !important;
    margin: 0 !important;
    color: #383838 !important;
}

a {
    font-family: "Poppins-Regular" !important;
    margin: 0 !important;
}

::selection {
    background-color: #4261e4;
}
